{% extends 'base.html' %}
{% block title %}Create Certificate{% endblock %}
{% load static %}
{% block content %}
    <style>
        p{
            margin-bottom: 8px;
        }
    </style>
    <section class="menu-documents">
        <div class="container">
            <div class="documents">
                <div class="container">
                    <div class="documents-title">Вот данный сертификат</div>
                    <div class="row">
                        <div class="col-12">
                            <form style="margin-top: 40px;margin-bottom: 320px; align-items: center;" class="form-cert1 rounded mx-auto d-block" action="" method="POST">
                                {% csrf_token %}
                                <div style="text-align: center; margin-bottom: 90px;">
                                    {{ form.as_p }}
                                    <input style="margin-top: 200px;" type="submit" name="create cert">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}