{% extends 'base.html' %}
{% block title %}Sertificat{% endblock %}
{% block content %}
    <section class="menu">
        <div class="container">
            <div class="menu-wrap">
                <ul class="list-item">
                    <li class="menu-link"><a class="active-link" href="#">Home</a></li>
                    <li class="menu-link"><a href="{% url 'create-certificate' %}">Create certificate</a></li>
                    <li class="menu-link"><a href="{% url 'my-certificates' %}">My certificates</a></li>
                    <li class="menu-link"><a href="{% url 'instruction' %}">Instructions</a></li>
                </ul>
            </div>
            <div class="menu-content">
                <div class="video-content">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/p29YU2UZOnM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                </div>
                <div class="video-btn">
                    <a class="btn-manual" data-fancybox data-src="#modal" href="javascript:;" class="callback">read manual</a>
                    <a class="btn-instruction"  data-fancybox data-src="#modal2" href="javascript:;" class="callback">instructions</a>
                </div>
                <div class="modal modal-custom" id="modal" style="display: none;">
		            <p>this is Manual</p>
  	            </div>
                 <div class="modal modal-custom" id="modal2" style="display: none;">
		            <p>Instructions Here!</p>
  	            </div>
            </div>
        </div>
    </section>
   {% endblock %}