{% extends 'base.html' %}
{% block title %}Create sertificate{% endblock %}

{% block content %}
<section class="menu-documents">
        <div class="container">
            <div class="menu-wrap">
                <ul class="list-item">
                    <li><a  href="/">Home</a></li>
                    <li><a  href="{% url 'create-certificate' %}">Create certificate</a></li>
                    <li><a class="active-link" href="{% url 'my-certificates' %}">My certificates</a></li>
                    <li><a href="{% url 'instruction' %}">Instructions</a></li>
                </ul>
            </div>
            <div class="documents">
                <div class="container">
                    <div class="documents-title">Для отправки сертификатов нажмите самолетик. После <br> того как человек получит и активирует его, статус
                        <br> меняется на получен, после оплаты на оплачен</div>
                    <div class="row">
                        <div class="col-6">
                                                        <img src="https://static.wixstatic.com/media/1694f8_b1c4812fbead4649b56073fea4481504~mv2.jpg/v1/fill/w_182,h_129,al_c,q_80,usm_2.00_1.00_0.00/%D1%81%D0%B5%D1%80%D1%821.webp" alt="серт1.jpg" style="margin-bottom: 200px; margin-left: 40px; margin-top: 50px; width:182px;height:129px;object-fit:cover;object-position:50% 50%">

                        </div>
                        <div class="col-6">
                            <ul style="margin-top: 60px;">
                                <li class="blank" style="list-style: none; padding: 0; font-size: 18px;    line-height: 1.8em; color: #000;">1.  №52321145322563 отправлен
                                    </li>
                                <li class="blank" style="list-style: none; padding: 0; font-size: 18px;    line-height: 1.8em; color: #000;">2.  №52321145322564 получен</li>
                                <li  class="blank" style="list-style: none; padding: 0; font-size: 18px;    line-height: 1.8em; color: #000;">3.  №52321145322565 отправлен</li>
                                <li class="blank" style="list-style: none; padding: 0; font-size: 18px;     line-height: 1.8em; color: #000;">4.  №52321145322566 получен</li>
                                <li class="blank" style="list-style: none; padding: 0; font-size: 18px;     line-height: 1.8em; color: #000;">4.  №52321145322567 неотправлен</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

